body {
    background-color: steelblue;
    color: #283044;
}

p {
    font-family: Papyrus,cursive;
    font-size: 1.7em;
    color: lightsteelblue;
}

#navBarContainer {
    background-color: white;
    
}



