body {
    background-color: steelblue;
    color: #283044;
}

p {
    font-family: Papyrus,cursive;
    font-size: 1.7em;
    color: lightsteelblue;
}

a {
    color: darkgreen;
    font-size: 1.7em;
}

img {
    border-radius: 30px;
}


