body {
    background-color: #171a21;
    color: lightgrey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#MainBody {
    background-color: #1b2838;
}
.navbar {
    background-color: #0B1016;
    opacity: 60%;
}
.nav-item {
    background-color: #23272D;
}
.navbar-brand {
    background-color: #23272D;
    color: lightgrey;
    padding-right: 1em;
    padding-left: .5em;
    margin-right: 0;
}
.nav-link {
    color: lightgrey;
}
.frameContainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}
iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}